*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body{
  background-color: black;
  color: white;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/background3.png);
  background-size: cover;
  background-position: center;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 110px;
}
nav ul{
  background: #262626;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;   /*for removing the underline*/
  font-size: 22px;
  font-weight: 500;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;    
}
.header-text h4{
  margin-top: 27%;
  margin-left: -10%;
  font-size: 40px;
  text-align: left;
  color: #262626;
}
#contact{
  background-image: url(images/work3.png);
  background-size: cover;
  background-position: center;
}
.contact-Form{
  flex-basis: 45%;
}
.contact-Form form{
  width: 100%;
}
.btn.btn2{
  display: block;
  margin: 50px auto;
  margin-top: 10px;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  background: black;
  color: white;
  transition: background 0.5s;
}
.btn.btn2:hover{
  background: #ff004f;
}
.container{
    text-align: center;
}
form input, form textarea{
  width: 80%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    text-align: center;
    display: block;
  }
#country{
    width: 80%;
    font-size: 18px;
    background: #262626;
    color: #fff;
    border-radius: 6px;
    padding: 15px;
    margin: 10px 0;
    outline: none;
}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
  margin-bottom: -35px;
}
/*---------------------ABOUT---------------------------------*/
#about{
  width: 100%;
  height: 100vh;
  background-image: url(images/backgroundimg.png);
  background-size: cover;
  background-position: center;
  margin-top: -20px;
}
#about iframe{
  width: 740px;
  height: 500px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
#about h1{
  margin-top: 20px;
  text-align: center;
  color: #262626;
}
/*--------------------working---------------------------------------------*/
#work{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(images/work2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.container-1{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 600px;
  background-color: #fff;
  padding: 4rem 5rem;
  position: relative;
}
.textblock{
  width: 55%;
  font-family: poppins;
  margin-left: -5%;
}
.textblock .title{
  text-align: center;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 1rem;
}
.textblock .sub-title{
  text-transform: uppercase;
  font-size: 1rem;
  color: blue;
  margin-bottom: 1.8rem;
}
.textblock p{
  font-size: 16px;
  color: #262626;
}
.textblock h5{
  font-size: 16px;
  color: #262626;
}
.textblock h6{
  font-size: 16px;
  color: #262626;
  margin-top: -6%;
}
.container-1 img{
  position: absolute;
  top: 13%;
  right: -10%;
  height: 80%;
  width: 55%;
  box-shadow: 5px 4px 10px rgba(37, 37, 37,0.5);
  object-fit: cover;
  border-radius: 20px;
  border-color: yellow;
}
/*--------------------FEATURES--------------------------------*/
.feature{
  
  background-image: url(images/backgroundimg.png);
  background-size: cover;
  background-position: center;
}
.heading{
  color: #333;
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: .2rem;
  text-align: center;
}
.heading span{
  color: rgb(0, 13, 255);
}
.content{
  color: #262626;
}
.feature .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.feature .card-container .card{
  width: 22rem;
  margin: 1rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  overflow: hidden;
  position: relative;
}
.feature .card-container .card:hover{
  transition: .2s;
  background: #3c72e6;
}
.feature .card-container .card img{
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.feature .card-container .content{
  padding-bottom: .5rem;
  text-align: left;
}
.feature .card-container .content .title{
  color: #e5370c;
  text-align: center;
}
.feature .card-container .content p{
  columns: #333;
  font-size: 1.4rem;
  padding: 1rem;
  text-wrap: wrap;
}
/*--------------------CSS for small Screen--------------------*/
nav .delete-sign{
  display: none;
}
@media only screen and (max-width: 398px){
  #header{
    background-image: url(images/backgroundimg.png);
  }
  .container-1{
    width: 90%;
  }
  .container-1 .textblock{
    width: 100%;
  }
  .container-1 img{
    display: none;
  }
  .span{
    padding: 2rem;
  }
  .header-text h4{
    margin-top: 40%;
    margin-bottom: -18%;
    font-size: 30px;
  }
  .header-text h3{
    font-size: 50px;
    margin-top: 20%;
  }
  .header-text h3 span{
    font-size: 30px;
    margin-top: 100%;
  }
  nav .delete-sign{
    display: block;
    
  }
  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .delete-sign{
    position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
  .sub-title{
    font-size: 40px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 80%;
  }
  .about-col-1{
    margin-bottom: 20px;
  }
  .about-col-2{
    font-size: 20px;
  }
  .tab-links{
    font-size: 30px;
    margin-right: 32px;
  }
  .tab-contents ul li{
    font-size: 25px;
    position: relative;
  }
  .tab-contents ul li span{
    font-size: 20px;
    position: relative;
  }
  .contact-right, .contact-left{
    flex-basis: 100%;
  }
  .sub-title{
    margin: auto;
    text-align: center;
  }
  .contact-left{
    margin-top: 20px;
    margin: auto;
    text-align: center;
  }
}